{{#each loadouts as |loadout|}}
  {{log loadout}}
  <section data-id="{{loadout.id}}" class="loadout-block col-3 md">
    <h5>Name</h5>
    <p>
      {{loadout.loadout_name}}
    </p>
    <h6>Armor</h6>
    <p>
      {{loadout.armor_slot}}
    </p>
    <h6>Weapon</h6>
    <p>
      {{loadout.weapon_slot}}
    </p>
    <h6>Trinket</h6>
    <p>
      {{loadout.trinket_slot}}
    </p>
  </section>

{{/each}}
