{{#each loadouts as |loadout|}}
  {{log loadout}}
    <div class="loadout-block col-sm-3">
      <div class="card">
        <div data-id="{{loadout.id}}" class="card-body">
          <h5 class="card-title">{{loadout.loadout_name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{loadout.armor_slot}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{loadout.weapon_slot}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{loadout.trinket_slot}}</h6>
          <button type="submit" class="btn btn-info show-loadout">Equip</button>
          <button type="submit" class="btn btn-danger delete-loadout">Delete</button>
        </div>
      </div>
    </div>
{{/each}}
